.product-container{
  display: flex;
  gap: 32px;
  padding: 0 32px;
}

.main-container{
  display: flex;
  padding-right: 32px;
}

.shopping-cart{
  width: 25vw;
}

@media (max-width: 640px){
  .product-container{
    flex-direction: column;
  }
}